<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.first.mapper.CartMapper">


	<delete id="removeCart" parameterType="com.example.first.vo.Cart">
	
		DELETE FROM cart
			WHERE customer_mail = #{customerMail}
	
	</delete>



	<!-- Author : 이동윤 고객장바구니 리스트 (개인별, 전체) -->
	<select id="selectcartList" resultType="Map">
		select 
			c.customer_mail customerMail,
			c.cart_no cartNo,
		    c.goods_no goodsNo,
		    c.cart_amount cartAmount,
		    g.goods_title goodsTitle,
		    g.goods_memo goodsMemo,
		    g.goods_price goodsPrice,
		    g.goods_state goodsState,
		    ca.category_title categoryTitle,
		    gf.goods_file_name goodsFileName,
		    gf.goods_file_ext goodsFileExt,
		    (c.cart_amount * g.goods_price) totalPrice
		from cart c 
		inner join goods g on c.goods_no = g.goods_no
		inner join category ca on g.category_no = ca.category_no
		left join (select 
						goods_no, min(goods_file_name) goods_file_name, min(goods_file_ext) goods_file_ext
					from goods_file
		            group by goods_no) gf on gf.goods_no = g.goods_no
		<where>
			<if test="customerMail != null and customerMail != ''">
				c.customer_mail = #{customerMail}
			</if>
		</where>            
	</select>
	
	<!-- 장바구니 추가 -->
	<insert id="insertCart" parameterType="com.example.first.vo.Cart">
		insert into cart(
			customer_mail,
			goods_no,
			cart_amount
		) values(
		#{customerMail},
		#{goodsNo},
		#{cartAmount})
	</insert>
	
	<!-- 고객 장바구니 개별 삭제 -->
	<delete id="deleteCartByCartNo">
		delete
		from cart
		where cart_no = #{cartNo}
	</delete>
	
	<!-- 고객 장바구니 전체 삭제  -->
	<delete id="deleteCartAll">
		delete
		from cart
		where customer_mail = #{customerMail}
	</delete>
	
</mapper>